
<button (click)="currentProgress = currentProgress + 5">Long Mode</button>
<app-progress-bar [progress]="currentProgress"></app-progress-bar>
<br>
<app-author-list></app-author-list>
<br>
<p> {{name}} </p>
<input #nameInput type="text" [(ngModel)]= "name" >
<button (click)="showLast = !showLast">ShowLast</button>
<br>
<br>
<app-toggle  [(checked)]="question.toggle1" >
    <h3> Header 1</h3>
    <label> Question 1</label>
    <p> Content 1</p>  
</app-toggle>
<app-toggle  [(checked)]="question.toggle2" >
    <h3> Header 1</h3>
    <ng-container ngProjectAs="label">
        <span> Question 1</span>
        <button>ABtn</button>
    </ng-container>
    <p> Content 1</p>  
    <button>skip</button>
</app-toggle>
<ng-container *ngIf= "showLast" >
    <app-toggle [(checked)]="isChecked"></app-toggle>
</ng-container>

<!--<button #toggleButton >Toggle</button>

--> 